@model IEnumerable<BO.Parks.Park>

@{
    ViewBag.Title = "Home Page";
}

<div class="container-bienvenue">
    <div class="card-panel bienvenue">
        <form class="col s12 center-align">
            <h3 class="center-align">Localiser un parking</h3>
            <div class="row">
                <div class="input-field col s12">
                    <input id="addressHome" type="text" class="validate">
                </div>
                <a class="waves-effect waves-light btn blue lighten-1"><i class="material-icons right">send</i>Envoyer</a>
            </div>
        </form>
    </div>
</div>
<div id="map"></div>

