@{
    ViewBag.Title = "Home Page";
}

<div class="container-bienvenue">
    <div class="card-panel bienvenue">
        <form class="col s12 center-align">
            <h3 class="center-align">Quel est votre position ?</h3>
            <div class="row">
                <div class="input-field col s12">
                    <input id="address" type="text" class="validate">
                </div>
                <a id="go" class="waves-effect waves-light btn blue lighten-1"><i class="material-icons right">send</i>Envoyer</a>
            </div>
        </form>
    </div>
</div>

<ul id="slide-out" class="side-nav"></ul>
<div class="back fixed-action-btn">
    <a class="btn-floating btn-large red" href="#">
        <i class="large material-icons">arrow_back</i>
    </a>
</div>
<div id="map"></div>
<a href="#" data-activates="slide-out" class="button-collapse"><i class="material-icons">arrow_forward</i></a>
