@model IEnumerable<BO.Event>

@if (Model != null)
{
    foreach (var item in Model)
    {
        <li class="glide__slide slide" data-id=@item.Id>
            <div class='card-panel'>
                @if (item.Images.Count != 0)
                {
                    <div class="image">
                        <img src=@item.Images.First().Path />
                    </div>
                    <div class="description">
                        @Html.DisplayFor(modelItem => item.name)
                        <br />
                        @Html.DisplayFor(modelItem => item.date)
                    </div>
                }
                else
                {
                    <div class="description">
                        @Html.DisplayFor(modelItem => item.name)
                        <br />
                        @Html.DisplayFor(modelItem => item.date)
                    </div>
                }
            </div>
        </li>
    }
}