h1, h2, h3 {
  letter-spacing: 2px;
  font-weight: 200;
}

.title-home {
  color: #fff;
  background-color: rgba(238, 110, 115, 0.5);
  padding: 5px;
  margin: 0;
  width: 50%;
}

.container-bienvenue {
  position: relative;
  display: none;
}

.bienvenue {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 500px;
  margin-left: -250px;
  z-index: 999;
}

.margin {
  margin-top: 10px;
}

.parallax-container {
  height: 400px;
}

body {
  display: flex;
  min-height: 100vh;
  height: 100%;
  flex-direction: column;
}

html {
  height: 100%;
}

main {
  height: calc(100% - 200px);
  flex: 1 0 auto;
}

#map {
  height: calc(100% - 200px);
  width: 100%;
  position: absolute;
  overflow: hidden;
  top: 200px;
}

.back .btn-floating {
  right: 25px;
}

.slides {
  height: 100% !important;
}

.side-nav {
  position: relative;
  height: 100%
}

.side-nav .parking {
  margin: 5px;
  height: 100%;
  line-height: 14px;
  padding: 0 5px;
}

.side-nav .row .col {
  padding: 0;
}

.eventList {
  height: 144px;
  background-color: #ee6e73;
}

.eventList .row {
  margin-bottom: 0px;
  margin-bottom: 0px;
}

.btn {
  margin: 2px !important;
}

.prev {
  left: 1.5rem;
}

.next {
  right: 1.5rem;
}

.slide {
  text-align: center;
  border-style: solid;
  border-width: 1px;
  border-color: black;
}

#intro {
  text-align: center;
  height: 100%;
}

#intro .card-panel {
  text-align: center;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  display: table;
}

#intro .card-panel .image, #intro .card-panel .description {
  display: table-cell;
  vertical-align: middle;
}

#intro .card-panel img {
  text-align: center;
  margin: 0;
  height: 92px;
  vertical-align: middle;
}

.glide__track {
  height: 100%;
}

.glide__slides {
  padding: 5px 0;
  height: 100%;
  margin: 0;
}

.slide.selected {
  border-color: blue;
}

.button-collapse {
  padding-top: 5px;
  padding-right: 3px;
  background: rgba(0, 0, 0, 0.5);
  color: white;
  position: fixed;
  bottom: 0;
  display: none;
}

@media only screen and (min-width: 601px) {
  main {
    height: calc(100% - 208px);
  }
  #map {
    top: 208px;
    height: calc(100% - 208px);
  }
}

.delete-image {
    width: 100%;
}